Extracting the data. The data resides in differnrt data source based on the companies storage system.

# MIT805 Exam- u13193016: Yolanda Nkalashe

We are the Loan Lending Club Company. Our purpose is to provide a platform for individuals to take up personal loans. We Collect a varied amount of data when a customer is applying for credit and if the customer is approved we consistently collecting data to understand and keep our customer base. We will be showcasing our system of data collection, data analysis, data prediction such that we can make data driven decisions.

## 1A

### Data Analysis showcasing some of the benefits and drawbacks of our data dataset.

Some of the drawbacks that we will be showcsing from our data is:

Drawbacks:

*   Our data is not real time so we cannont make real time decsions.
*   Our data has a lot of attributes with missing values, making some of the data not useable.
*  Given that the data is large, we need to store it in a distributed fashion.
*  Categorical variables have a lot of categories which need to be cleaned.
* When processing our data we seperate the date stamp, given that we remove the NAs we lose the veracity of the date stamp.
* velocity: given that our data is in batch and extracted per quarter the velocity at which the data is coming through is not as we would like.

Benefits:

Our dataset meets the standards of the 3 Vs of big data:

*   Volume: The data is around 1.9 gigs we looke at the past four years (2016-2020).
*   Variety: the data consists of 150 diffeternt attributes with various datatype of category, date, int, float and string.
*  The data is structured making it easier for analysis and transformation.
* Customer data is verified by the lending club to ensure that the data produced is valid.

The following above points can be seen in the below exploratory data analysis.

importing packages that we will require.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (3.0.1)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.9)

Given the volume of the data we importing each seperatly per quater as the data is stored quartely.

In [ ]:
Q2_2016_df=pd.read_csv('/content/drive/MyDrive/805/Lending Club Data/Lending Loan Data/LoanStats_2016Q2.csv',sep=';',error_bad_lines=False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
Q3_2016_df=pd.read_csv('/content/drive/MyDrive/805/Lending Club Data/Lending Loan Data/LoanStats_2016Q3.csv',sep=';',error_bad_lines=False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,19,55) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
Q4_2016_df=pd.read_csv('/content/drive/MyDrive/805/Lending Club Data/Lending Loan Data/LoanStats_2016Q4.csv',sep=';',error_bad_lines=False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
Q1_2017_df=pd.read_csv('/content/drive/MyDrive/805/Lending Club Data/Lending Loan Data/LoanStats_2017Q1.csv',sep=';',error_bad_lines=False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,112) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
Q2_2017_df=pd.read_csv('/content/drive/MyDrive/805/Lending Club Data/Lending Loan Data/LoanStats_2017Q2.csv',sep=';',error_bad_lines=False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
Q3_2017_df=pd.read_csv('/content/drive/MyDrive/805/Lending Club Data/Lending Loan Data/LoanStats_2017Q3.csv',sep=';',error_bad_lines=False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
Q4_2017_df=pd.read_csv('/content/drive/MyDrive/805/Lending Club Data/Lending Loan Data/LoanStats_2017Q4.csv',sep=';',error_bad_lines=False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
Q1_2018_df=pd.read_csv('/content/drive/MyDrive/805/Lending Club Data/Lending Loan Data/LoanStats_2018Q1.csv',sep=';',error_bad_lines=False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
Q2_2018_df=pd.read_csv('/content/drive/MyDrive/805/Lending Club Data/Lending Loan Data/LoanStats_2018Q2.csv',sep=';',error_bad_lines=False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
Q3_2018_df=pd.read_csv('/content/drive/MyDrive/805/Lending Club Data/Lending Loan Data/LoanStats_2018Q3.csv',sep=';',error_bad_lines=False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
Q4_2018_df=pd.read_csv('/content/drive/MyDrive/805/Lending Club Data/Lending Loan Data/LoanStats_2018Q4.csv',sep=';',error_bad_lines=False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
Q1_2019_df=pd.read_csv('/content/drive/MyDrive/805/Lending Club Data/Lending Loan Data/LoanStats_securev1_2019Q1.csv',sep=';',error_bad_lines=False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
Q3_2019_df=pd.read_csv('/content/drive/MyDrive/805/Lending Club Data/Lending Loan Data/LoanStats_securev1_2019Q3.csv',sep=';',error_bad_lines=False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,144,145,146) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
Q4_2019_df=pd.read_csv('/content/drive/MyDrive/805/Lending Club Data/Lending Loan Data/LoanStats_securev1_2019Q4.csv',sep=';',error_bad_lines=False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,144,145,146) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
Q1_2020_df=pd.read_csv('/content/drive/MyDrive/805/Lending Club Data/Lending Loan Data/LoanStats_securev1_2020Q1.csv',sep=';',error_bad_lines=False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,144,145,146) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Combining our data into one df for easier analysis

In [ ]:
Loan_df=pd.concat([Q2_2016_df,Q3_2016_df,Q4_2016_df,Q1_2017_df,Q2_2017_df,Q3_2017_df,Q4_2017_df,Q1_2018_df,Q2_2018_df,Q3_2018_df,Q4_2018_df,Q1_2019_df,Q3_2019_df,Q4_2019_df,Q1_2020_df])

A sample of the first 5 rows of our data. as noted the data has 150 columns with a lot of variety with respect to the data types. From data type, int, string, cateforical and float.

In [ ]:
Loan_df.head()

    id  member_id  ...  sec_app_fico_range_low  sec_app_fico_range_high
0  NaN        NaN  ...                     NaN                      NaN
1  NaN        NaN  ...                     NaN                      NaN
2  NaN        NaN  ...                     NaN                      NaN
3  NaN        NaN  ...                     NaN                      NaN
4  NaN        NaN  ...                     NaN                      NaN

[5 rows x 150 columns]

Further we note that our data has volume as describe. around 1.9GB.

In [ ]:
Loan_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1731381 entries, 0 to 105015
Columns: 150 entries, id to sec_app_fico_range_high
dtypes: float64(111), object(39)
memory usage: 1.9+ GB

We want to extract the original date columns values so we can extract trend analysis from our data. We do this in the raw dataset before we transform and remove the NA. This is done to keep the true value of our date attribute.

In [ ]:
Loan_df[100000:]

                                                      id  ...  sec_app_fico_range_high
2142                                                 NaN  ...                      NaN
2143                                                 NaN  ...                      NaN
2144                                                 NaN  ...                      NaN
2145                                                 NaN  ...                      NaN
2146                                                 NaN  ...                      NaN
...                                                  ...  ...                      ...
105011                                         162914373  ...                      NaN
105012                                               NaN  ...                      NaN
105013                                               NaN  ...                      NaN
105014  Total amount funded in policy code 1: 1767320000  ...                      NaN
105015   Total amount funded in policy code 2: 712441960  ...                      NaN

[1631381 rows x 150 columns]

In [ ]:
time_stamp=Loan_df['issue_d']

In [ ]:
time_stamp.to_csv('date.csv')

Missing values can be ditrimental to a dataset they can make the analysis done on the data not valid especially if an attribute has more than 50% of its observations missing. In our system we find NAs and remove all the NAs with more than 10% missing value.

In [ ]:
df_count_na=Loan_df.isna()

df_count_na_sum=df_count_na.sum()

Percent_NA=df_count_na_sum/len(Loan_df)

In [ ]:
Percent_NA

id                         0.715828
member_id                  1.000000
loan_amnt                  0.000035
funded_amnt                0.000035
funded_amnt_inv            0.000035
                             ...
fico_range_high            0.715865
last_fico_range_high       0.715865
last_fico_range_low        0.715865
sec_app_fico_range_low     0.961983
sec_app_fico_range_high    0.961983
Length: 150, dtype: float64

List of Columns with more than 10% of missing values.

In [ ]:
df_count_na_10=Percent_NA>0.10

df_count_na_10_index=df_count_na_10.tolist()

index_missing=np.where(df_count_na_10_index)[0]

index_to_remove=index_missing.tolist()
 
list_col_to_remove=[]

columns= Loan_df.columns.tolist()

for i in index_to_remove:
    add=columns[i]
    list_col_to_remove.append(add)
    
list_col_to_remove

['id',
 'member_id',
 'emp_title',
 'url',
 'desc',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'next_pymnt_d',
 'mths_since_last_major_derog',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'il_util',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term',
 'fico_range_low',
 'fico_range_high',
 'last_fico_range_high',
 'last_fico_range_low',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high']

In [ ]:
Loan_df=Loan_df.drop(list_col_to_remove, axis=1)

Our remaining dataset 97 columns.

In [ ]:
Loan_df.head()

   loan_amnt  funded_amnt  ...  hardship_flag debt_settlement_flag
0    10000.0      10000.0  ...              N                    N
1     9600.0       9600.0  ...              N                    N
2     3600.0       3600.0  ...              N                    N
3    10000.0      10000.0  ...              N                    N
4     4900.0       4900.0  ...              N                    N

[5 rows x 97 columns]

The variety in the dataset is still kept and not compromised after the missing values have been removed.

In [ ]:
Loan_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1731381 entries, 0 to 105015
Data columns (total 97 columns):
 #   Column                      Dtype
---  ------                      -----
 0   loan_amnt                   float64
 1   funded_amnt                 float64
 2   funded_amnt_inv             float64
 3   term                        object
 4   int_rate                    object
 5   installment                 float64
 6   grade                       object
 7   sub_grade                   object
 8   emp_length                  object
 9   home_ownership              object
 10  annual_inc                  float64
 11  verification_status         object
 12  issue_d                     object
 13  loan_status                 object
 14  pymnt_plan                  object
 15  purpose                     object
 16  title                       object
 17  zip_code                    object
 18  addr_state                  object
 19  dti                         float64
 20  delinq_2yrs                 float64
 21  earliest_cr_line            object
 22  inq_last_6mths              float64
 23  open_acc                    float64
 24  pub_rec                     float64
 25  revol_bal                   float64
 26  revol_util                  object
 27  total_acc                   float64
 28  initial_list_status         object
 29  out_prncp                   float64
 30  out_prncp_inv               float64
 31  total_pymnt                 float64
 32  total_pymnt_inv             float64
 33  total_rec_prncp             float64
 34  total_rec_int               float64
 35  total_rec_late_fee          float64
 36  recoveries                  float64
 37  collection_recovery_fee     float64
 38  last_pymnt_d                object
 39  last_pymnt_amnt             float64
 40  last_credit_pull_d          object
 41  collections_12_mths_ex_med  float64
 42  policy_code                 float64
 43  application_type            object
 44  acc_now_delinq              float64
 45  tot_coll_amt                float64
 46  tot_cur_bal                 float64
 47  open_acc_6m                 float64
 48  open_act_il                 float64
 49  open_il_12m                 float64
 50  open_il_24m                 float64
 51  mths_since_rcnt_il          float64
 52  total_bal_il                float64
 53  open_rv_12m                 float64
 54  open_rv_24m                 float64
 55  max_bal_bc                  float64
 56  all_util                    float64
 57  total_rev_hi_lim            float64
 58  inq_fi                      float64
 59  total_cu_tl                 float64
 60  inq_last_12m                float64
 61  acc_open_past_24mths        float64
 62  avg_cur_bal                 float64
 63  bc_open_to_buy              float64
 64  bc_util                     float64
 65  chargeoff_within_12_mths    float64
 66  delinq_amnt                 float64
 67  mo_sin_old_il_acct          float64
 68  mo_sin_old_rev_tl_op        float64
 69  mo_sin_rcnt_rev_tl_op       float64
 70  mo_sin_rcnt_tl              float64
 71  mort_acc                    float64
 72  mths_since_recent_bc        float64
 73  num_accts_ever_120_pd       float64
 74  num_actv_bc_tl              float64
 75  num_actv_rev_tl             float64
 76  num_bc_sats                 float64
 77  num_bc_tl                   float64
 78  num_il_tl                   float64
 79  num_op_rev_tl               float64
 80  num_rev_accts               float64
 81  num_rev_tl_bal_gt_0         float64
 82  num_sats                    float64
 83  num_tl_120dpd_2m            float64
 84  num_tl_30dpd                float64
 85  num_tl_90g_dpd_24m          float64
 86  num_tl_op_past_12m          float64
 87  pct_tl_nvr_dlq              float64
 88  percent_bc_gt_75            float64
 89  pub_rec_bankruptcies        float64
 90  tax_liens                   float64
 91  tot_hi_cred_lim             float64
 92  total_bal_ex_mort           float64
 93  total_bc_limit              float64
 94  total_il_high_credit_limit  float64
 95  hardship_flag               object
 96  debt_settlement_flag        object
dtypes: float64(75), object(22)
memory usage: 1.3+ GB

Based on the value we would like to extract from the data we summarise the data using the useful columns to us.

examples of some of the values we would like to extract.

- Loan amount: will be able to identfy how much value we processed.
- term- helps us is our quest in understanding our customer segments and how much we can keep in reserves based on the most term taken by customers.
- int_rate, grade and Loan status: Help us to identfy our and manage any risk.
-state: distribution of our customers and where we should locate ourself

In [ ]:
col_keep=['loan_amnt','funded_amnt','funded_amnt_inv','term','int_rate','installment','grade','emp_length','home_ownership','annual_inc','verification_status','issue_d','loan_status','dti','open_acc','total_acc','application_type','pub_rec_bankruptcies','tax_liens','addr_state']

In [ ]:
df=Loan_df[col_keep]

In [ ]:
df.describe()

          loan_amnt   funded_amnt  ...  pub_rec_bankruptcies     tax_liens
count  1.731321e+06  1.731321e+06  ...          1.731203e+06  1.731203e+06
mean   1.557253e+04  1.557252e+04  ...          1.258085e-01  3.074741e-02
std    9.923425e+03  9.923426e+03  ...          3.516635e-01  3.039017e-01
min    1.000000e+03  1.000000e+03  ...          0.000000e+00  0.000000e+00
25%    8.000000e+03  8.000000e+03  ...          0.000000e+00  0.000000e+00
50%    1.300000e+04  1.300000e+04  ...          0.000000e+00  0.000000e+00
75%    2.100000e+04  2.100000e+04  ...          0.000000e+00  0.000000e+00
max    4.000000e+04  4.000000e+04  ...          8.000000e+00  6.100000e+01

[8 rows x 10 columns]

## 1B.

Since the data that we have to process is of large volumes we need to install and have the right tools to efficiently process our data

*   As will be seen below we use dask for distributed processing where clusters are created to preocess our data. Due to limitations the meomory limit is only 4gb, but ideally should be more with more workers to.
*   Use Spark to process our machine learning usecases.
* We working on a local device that has 16gb of memory and 1TB of storage.
* Lastly, hadoop is required to be able to extract dome of the value from the data and we require visualization tool tableu.

In [ ]:
from dask.distributed import Client, progress
client = Client(processes=False, threads_per_worker=4,
                n_workers=1, memory_limit='4GB')
client

/usr/local/lib/python3.6/dist-packages/distributed/bokeh/core.py:57: UserWarning:
Failed to start diagnostics server on port 8787. [Errno 99] Cannot assign requested address
  warnings.warn('\n' + msg)
/usr/local/lib/python3.6/dist-packages/distributed/deploy/local.py:197: UserWarning:
Could not launch service 'bokeh' on port 8787. Got the following message:

[Errno 99] Cannot assign requested address
  self.scheduler.start(scheduler_address)

distributed.worker - WARNING - Worker is at 128% memory usage. Pausing worker.  Process memory: 5.15 GB -- Worker memory limit: 4.00 GB
distributed.worker - WARNING - Memory use is high but worker has no data to store to disk.  Perhaps some other process is leaking memory?  Process memory: 5.15 GB -- Worker memory limit: 4.00 GB
distributed.worker - WARNING - Memory use is high but worker has no data to store to disk.  Perhaps some other process is leaking memory?  Process memory: 5.15 GB -- Worker memory limit: 4.00 GB

## Transformation of data

We further transform our data to prepare it for machine learning usecases.

Reduce the categories of our categorical variables and we encode them such that they are usable for machine learning models.

In [ ]:
def C(row):
    if(row['emp_length']=='1 year' or row['emp_length']=='2 years' or 
       row['emp_length']=='4 years' or row['emp_length']=='3 years'):
        val="1"
    elif(row['emp_length']=='5 years' or row['emp_length']=='6 years' 
         or row['emp_length']=='7 years' or row['emp_length']=='8 years' or
         row['emp_length']=='9 years'):
        val="2"
    elif(row['emp_length']=='10+ years'):
        val='3'
    else:
        val="0"
    return val

df['emp_length']=df.apply(C,axis=1)

df.emp_length.unique()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

array(['1', '2', '3', '0'], dtype=object)

In [ ]:
def Ownership(row):
    if(row['home_ownership']=='MORTGAGE'):
        val="0"
    elif(row['home_ownership']=='RENT' or row['home_ownership']=='ANY' 
         or row['home_ownership']=='NONE'):
        val="1"
    else:
        val="2 "
    return val

df['home_ownership']=df.apply(Ownership,axis=1)

df.home_ownership.unique()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

array(['1', '0', '2 '], dtype=object)

In [ ]:
def Verified(row):
    if(row['verification_status']=='Verified' or row['verification_status']=='Source Verified'):
        val="0"
    else:
        val="1"
    return val

df['verification_status']=df.apply(Verified,axis=1)
df.verification_status.unique()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array(['0', '1'], dtype=object)

In [ ]:
def LoanStatus(row):
    if(row['loan_status']=='Current' or row['loan_status']=='Issued' or row['loan_status']=='Fully Paid'):
        val="Low Default"
    elif(row['loan_status']=='In Grace Period' or row['loan_status']=='Late (31-120 days)'
         or row['loan_status']=='Late (16-30 days)' ):
        val='WatchList'
    else:
        val="Default"
    return val

df['loan_status']=df.apply(LoanStatus,axis=1)
df.loan_status.unique()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

array(['Low Default', 'Default', 'WatchList'], dtype=object)

Our transformed data is then stored in a HDF5 format. if its stored in csv we will lose some of the data given the restrictions whist HDF5 has no limit and compatible with java.

In [ ]:
df.to_csv('Loan_df_transformed.csv')

## Machine Learning Models

We apply two machine learning models to be able to predict and segment our customers:

1. Risk mitigation we train a model that will be able to indicate the probability of a customer defaulting. There are 3 catgeries based on the probability that a customer can be in (Default, No Default and Watchlist). This assist both us and the customers to intervene when we see that a customer in the watchlist is about to default we can create a credit rehabilitation servive or approach the customer to relook at their payment plan.

2. Classification: we train a model to determine our customer base whether we have well off (wealthy customers) customers or middle class to lower class based on income earned and debt-to-income ratio.

To train the model we use the Apache API pyspark to train our model in parrallel jobs.

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import datetime

from sklearn.metrics import f1_score, recall_score, precision_score
import pyspark.sql.functions as F 
from pyspark.sql.types import IntegerType, DoubleType, DateType,FloatType
from pyspark.ml.feature import VectorAssembler, MinMaxScaler
from pyspark.ml import Pipeline
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
from pyspark.ml.classification import LogisticRegression,DecisionTreeClassifier, GBTClassifier, LinearSVC

In [ ]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext()
spark = SparkSession(sc)

Customer Segmentation

In [ ]:
from pyspark.ml.clustering import KMeans
from sklearn import preprocessing

In [ ]:
import pixiedust

Pixiedust database opened successfully

In [ ]:
lines=sc.textFile('/content/Loan_df_transformed.csv')
data=lines.map(lambda line:line.split(","))

data.take(2)

[['',
  'loan_amnt',
  'funded_amnt',
  'funded_amnt_inv',
  'term',
  'int_rate',
  'installment',
  'grade',
  'emp_length',
  'home_ownership',
  'annual_inc',
  'verification_status',
  'issue_d',
  'loan_status',
  'dti',
  'open_acc',
  'total_acc',
  'application_type',
  'pub_rec_bankruptcies',
  'tax_liens',
  'addr_state'],
 ['0',
  '10000.0',
  '10000.0',
  '10000.0',
  ' 36 months',
  '  6.99%',
  '308.73',
  'A',
  '1',
  '1',
  '135000.0',
  '0',
  'Jun-16',
  'Low Default',
  '7.61',
  '7.0',
  '13.0',
  'Individual',
  '0.0',
  '0.0',
  'NY']]

In [ ]:
df_features=data.toDF(['id','loan_amnt','funded_amnt','funded_amnt_inv','term','int_rate','installment','grade','emp_length','home_ownership','annual_inc','verification_status','issue_d','loan_status','dti','open_acc','total_acc','application_type','pub_rec_bankruptcies','tax_liens','addr_state'])
df_features.show()

+---+---------+-----------+---------------+----------+--------+-----------+-----+----------+--------------+----------+-------------------+-------+-----------+-----+--------+---------+----------------+--------------------+---------+----------+
| id|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|emp_length|home_ownership|annual_inc|verification_status|issue_d|loan_status|  dti|open_acc|total_acc|application_type|pub_rec_bankruptcies|tax_liens|addr_state|
+---+---------+-----------+---------------+----------+--------+-----------+-----+----------+--------------+----------+-------------------+-------+-----------+-----+--------+---------+----------------+--------------------+---------+----------+
|   |loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|emp_length|home_ownership|annual_inc|verification_status|issue_d|loan_status|  dti|open_acc|total_acc|application_type|pub_rec_bankruptcies|tax_liens|addr_state|
|  0|  10000.0|    10000.0|        10000.0| 36 months|   6.99%|     308.73|    A|         1|             1|  135000.0|                  0| Jun-16|Low Default| 7.61|     7.0|     13.0|      Individual|                 0.0|      0.0|        NY|
|  1|   9600.0|     9600.0|         9600.0| 36 months|  15.59%|     335.57|    C|         2|             1|   50000.0|                  0| Jun-16|Low Default|24.03|    11.0|     23.0|      Individual|                 4.0|      0.0|        OH|
|  2|   3600.0|     3600.0|         3600.0| 36 months|  13.99%|     123.03|    C|         3|             0|   35000.0|                  0| Jun-16|Low Default|25.38|    13.0|     29.0|      Individual|                 0.0|      0.0|        MO|
|  3|  10000.0|    10000.0|        10000.0| 60 months|  13.49%|     230.05|    C|         1|             1|   32000.0|                  1| Jun-16|Low Default|13.05|     5.0|     10.0|      Individual|                 0.0|      0.0|        OH|
|  4|   4900.0|     4900.0|         4900.0| 36 months|  10.99%|      160.4|    B|         0|             0|  120000.0|                  0| Jun-16|Low Default| 6.07|     5.0|      8.0|      Individual|                 0.0|      0.0|        TX|
|  5|   9000.0|     9000.0|         9000.0| 36 months|  13.99%|     307.56|    C|         3|             0|  125000.0|                  1| Jun-16|    Default|30.21|    13.0|     32.0|      Individual|                 0.0|      0.0|        OH|
|  6|   9000.0|     9000.0|         9000.0| 36 months|  10.49%|     292.48|    B|         2|             1|   52500.0|                  0| Jun-16|Low Default|14.38|     4.0|      6.0|      Individual|                 0.0|      0.0|        NJ|
|  7|  18000.0|    18000.0|        18000.0| 60 months|  13.49%|     414.09|    C|         3|             0|   70000.0|                  1| Jun-16|    Default|25.51|     6.0|     12.0|      Individual|                 0.0|      0.0|        VA|
|  8|   9800.0|     9800.0|         9800.0| 36 months|  14.49%|     337.28|    C|         3|             0|   48000.0|                  0| Jun-16|    Default|19.83|    10.0|     16.0|      Individual|                 0.0|      1.0|        OH|
|  9|   3000.0|     3000.0|         3000.0| 36 months|  15.59%|     104.87|    C|         3|             1|   42000.0|                  0| Jun-16|Low Default| 8.34|     5.0|     16.0|      Individual|                 1.0|      0.0|        CA|
| 10|   7500.0|     7500.0|         7500.0| 36 months|  10.99%|     245.51|    B|         1|             1|   50000.0|                  0| Jun-16|Low Default| 22.2|    22.0|     63.0|      Individual|                 1.0|      1.0|        CA|
| 11|   2000.0|     2000.0|         2000.0| 36 months|  16.99%|       71.3|    D|         0|            2 |  153000.0|                  0| Jun-16|Low Default| 2.06|     6.0|     35.0|      Individual|                 0.0|      0.0|        WA|
| 12|   5000.0|     5000.0|         5000.0| 36 months|  22.39%|     191.97|    E|         2|             1|   54000.0|                  0| Jun-16|    Default| 24.5|    10.0|     16.0|      Individual|                 0.0|      0.0|        NC|
| 13|   5000.0|     5000.0|         5000.0| 36 months|  15.59%|     174.78|    C|         3|             1|   59000.0|                  0| Jun-16|Low Default| 3.82|    14.0|     22.0|      Individual|                 2.0|      0.0|        IL|
| 14|   5000.0|     5000.0|         5000.0| 36 months|  16.99%|     178.24|    D|         3|             0|   98000.0|                  1| Jun-16|Low Default| 13.9|     7.0|     11.0|      Individual|                 0.0|      0.0|        CA|
| 15|  19775.0|    19775.0|        19775.0| 60 months|  16.99%|     491.36|    D|         1|             1|   43000.0|                  1| Jun-16|Low Default|13.27|     5.0|      7.0|      Individual|                 0.0|      0.0|        FL|
| 16|  20000.0|    20000.0|        20000.0| 60 months|  15.59%|     482.02|    C|         1|             1|   98000.0|                  0| Jun-16|  WatchList| 9.01|    13.0|     26.0|      Individual|                 0.0|      0.0|        TX|
| 17|  10000.0|    10000.0|        10000.0| 36 months|  17.99%|     361.48|    D|         0|             1|   41556.0|                  0| Jun-16|Low Default|32.57|    14.0|     35.0|      Individual|                 1.0|      0.0|        NM|
| 18|  21000.0|    21000.0|        21000.0| 36 months|  16.29%|     741.31|    D|         2|             0|  120000.0|                  0| Jun-16|Low Default|17.26|    26.0|     45.0|      Individual|                 0.0|      0.0|        OH|
+---+---------+-----------+---------------+----------+--------+-----------+-----+----------+--------------+----------+-------------------+-------+-----------+-----+--------+---------+----------------+--------------------+---------+----------+
only showing top 20 rows

In [ ]:
df_feat=df_features.select(*(df_features[c].cast("float").alias(c) for c in df_features.columns[1:]))
df_feat.show()

+---------+-----------+---------------+----+--------+-----------+-----+----------+--------------+----------+-------------------+-------+-----------+-----+--------+---------+----------------+--------------------+---------+----------+
|loan_amnt|funded_amnt|funded_amnt_inv|term|int_rate|installment|grade|emp_length|home_ownership|annual_inc|verification_status|issue_d|loan_status|  dti|open_acc|total_acc|application_type|pub_rec_bankruptcies|tax_liens|addr_state|
+---------+-----------+---------------+----+--------+-----------+-----+----------+--------------+----------+-------------------+-------+-----------+-----+--------+---------+----------------+--------------------+---------+----------+
|     null|       null|           null|null|    null|       null| null|      null|          null|      null|               null|   null|       null| null|    null|     null|            null|                null|     null|      null|
|  10000.0|    10000.0|        10000.0|null|    null|     308.73| null|       1.0|           1.0|  135000.0|                0.0|   null|       null| 7.61|     7.0|     13.0|            null|                 0.0|      0.0|      null|
|   9600.0|     9600.0|         9600.0|null|    null|     335.57| null|       2.0|           1.0|   50000.0|                0.0|   null|       null|24.03|    11.0|     23.0|            null|                 4.0|      0.0|      null|
|   3600.0|     3600.0|         3600.0|null|    null|     123.03| null|       3.0|           0.0|   35000.0|                0.0|   null|       null|25.38|    13.0|     29.0|            null|                 0.0|      0.0|      null|
|  10000.0|    10000.0|        10000.0|null|    null|     230.05| null|       1.0|           1.0|   32000.0|                1.0|   null|       null|13.05|     5.0|     10.0|            null|                 0.0|      0.0|      null|
|   4900.0|     4900.0|         4900.0|null|    null|      160.4| null|       0.0|           0.0|  120000.0|                0.0|   null|       null| 6.07|     5.0|      8.0|            null|                 0.0|      0.0|      null|
|   9000.0|     9000.0|         9000.0|null|    null|     307.56| null|       3.0|           0.0|  125000.0|                1.0|   null|       null|30.21|    13.0|     32.0|            null|                 0.0|      0.0|      null|
|   9000.0|     9000.0|         9000.0|null|    null|     292.48| null|       2.0|           1.0|   52500.0|                0.0|   null|       null|14.38|     4.0|      6.0|            null|                 0.0|      0.0|      null|
|  18000.0|    18000.0|        18000.0|null|    null|     414.09| null|       3.0|           0.0|   70000.0|                1.0|   null|       null|25.51|     6.0|     12.0|            null|                 0.0|      0.0|      null|
|   9800.0|     9800.0|         9800.0|null|    null|     337.28| null|       3.0|           0.0|   48000.0|                0.0|   null|       null|19.83|    10.0|     16.0|            null|                 0.0|      1.0|      null|
|   3000.0|     3000.0|         3000.0|null|    null|     104.87| null|       3.0|           1.0|   42000.0|                0.0|   null|       null| 8.34|     5.0|     16.0|            null|                 1.0|      0.0|      null|
|   7500.0|     7500.0|         7500.0|null|    null|     245.51| null|       1.0|           1.0|   50000.0|                0.0|   null|       null| 22.2|    22.0|     63.0|            null|                 1.0|      1.0|      null|
|   2000.0|     2000.0|         2000.0|null|    null|       71.3| null|       0.0|           2.0|  153000.0|                0.0|   null|       null| 2.06|     6.0|     35.0|            null|                 0.0|      0.0|      null|
|   5000.0|     5000.0|         5000.0|null|    null|     191.97| null|       2.0|           1.0|   54000.0|                0.0|   null|       null| 24.5|    10.0|     16.0|            null|                 0.0|      0.0|      null|
|   5000.0|     5000.0|         5000.0|null|    null|     174.78| null|       3.0|           1.0|   59000.0|                0.0|   null|       null| 3.82|    14.0|     22.0|            null|                 2.0|      0.0|      null|
|   5000.0|     5000.0|         5000.0|null|    null|     178.24| null|       3.0|           0.0|   98000.0|                1.0|   null|       null| 13.9|     7.0|     11.0|            null|                 0.0|      0.0|      null|
|  19775.0|    19775.0|        19775.0|null|    null|     491.36| null|       1.0|           1.0|   43000.0|                1.0|   null|       null|13.27|     5.0|      7.0|            null|                 0.0|      0.0|      null|
|  20000.0|    20000.0|        20000.0|null|    null|     482.02| null|       1.0|           1.0|   98000.0|                0.0|   null|       null| 9.01|    13.0|     26.0|            null|                 0.0|      0.0|      null|
|  10000.0|    10000.0|        10000.0|null|    null|     361.48| null|       0.0|           1.0|   41556.0|                0.0|   null|       null|32.57|    14.0|     35.0|            null|                 1.0|      0.0|      null|
|  21000.0|    21000.0|        21000.0|null|    null|     741.31| null|       2.0|           0.0|  120000.0|                0.0|   null|       null|17.26|    26.0|     45.0|            null|                 0.0|      0.0|      null|
+---------+-----------+---------------+----+--------+-----------+-----+----------+--------------+----------+-------------------+-------+-----------+-----+--------+---------+----------------+--------------------+---------+----------+
only showing top 20 rows

In [ ]:
features=['annual_inc','dti']

for col in df_features.columns:
    if col in features:
        df_features=df_features.withColumn(col,df_features[col].cast('float'))

df_features.show()

+---+---------+-----------+---------------+----------+--------+-----------+-----+----------+--------------+----------+-------------------+-------+-----------+-----+--------+---------+----------------+--------------------+---------+----------+
| id|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|emp_length|home_ownership|annual_inc|verification_status|issue_d|loan_status|  dti|open_acc|total_acc|application_type|pub_rec_bankruptcies|tax_liens|addr_state|
+---+---------+-----------+---------------+----------+--------+-----------+-----+----------+--------------+----------+-------------------+-------+-----------+-----+--------+---------+----------------+--------------------+---------+----------+
|   |loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|emp_length|home_ownership|      null|verification_status|issue_d|loan_status| null|open_acc|total_acc|application_type|pub_rec_bankruptcies|tax_liens|addr_state|
|  0|  10000.0|    10000.0|        10000.0| 36 months|   6.99%|     308.73|    A|         1|             1|  135000.0|                  0| Jun-16|Low Default| 7.61|     7.0|     13.0|      Individual|                 0.0|      0.0|        NY|
|  1|   9600.0|     9600.0|         9600.0| 36 months|  15.59%|     335.57|    C|         2|             1|   50000.0|                  0| Jun-16|Low Default|24.03|    11.0|     23.0|      Individual|                 4.0|      0.0|        OH|
|  2|   3600.0|     3600.0|         3600.0| 36 months|  13.99%|     123.03|    C|         3|             0|   35000.0|                  0| Jun-16|Low Default|25.38|    13.0|     29.0|      Individual|                 0.0|      0.0|        MO|
|  3|  10000.0|    10000.0|        10000.0| 60 months|  13.49%|     230.05|    C|         1|             1|   32000.0|                  1| Jun-16|Low Default|13.05|     5.0|     10.0|      Individual|                 0.0|      0.0|        OH|
|  4|   4900.0|     4900.0|         4900.0| 36 months|  10.99%|      160.4|    B|         0|             0|  120000.0|                  0| Jun-16|Low Default| 6.07|     5.0|      8.0|      Individual|                 0.0|      0.0|        TX|
|  5|   9000.0|     9000.0|         9000.0| 36 months|  13.99%|     307.56|    C|         3|             0|  125000.0|                  1| Jun-16|    Default|30.21|    13.0|     32.0|      Individual|                 0.0|      0.0|        OH|
|  6|   9000.0|     9000.0|         9000.0| 36 months|  10.49%|     292.48|    B|         2|             1|   52500.0|                  0| Jun-16|Low Default|14.38|     4.0|      6.0|      Individual|                 0.0|      0.0|        NJ|
|  7|  18000.0|    18000.0|        18000.0| 60 months|  13.49%|     414.09|    C|         3|             0|   70000.0|                  1| Jun-16|    Default|25.51|     6.0|     12.0|      Individual|                 0.0|      0.0|        VA|
|  8|   9800.0|     9800.0|         9800.0| 36 months|  14.49%|     337.28|    C|         3|             0|   48000.0|                  0| Jun-16|    Default|19.83|    10.0|     16.0|      Individual|                 0.0|      1.0|        OH|
|  9|   3000.0|     3000.0|         3000.0| 36 months|  15.59%|     104.87|    C|         3|             1|   42000.0|                  0| Jun-16|Low Default| 8.34|     5.0|     16.0|      Individual|                 1.0|      0.0|        CA|
| 10|   7500.0|     7500.0|         7500.0| 36 months|  10.99%|     245.51|    B|         1|             1|   50000.0|                  0| Jun-16|Low Default| 22.2|    22.0|     63.0|      Individual|                 1.0|      1.0|        CA|
| 11|   2000.0|     2000.0|         2000.0| 36 months|  16.99%|       71.3|    D|         0|            2 |  153000.0|                  0| Jun-16|Low Default| 2.06|     6.0|     35.0|      Individual|                 0.0|      0.0|        WA|
| 12|   5000.0|     5000.0|         5000.0| 36 months|  22.39%|     191.97|    E|         2|             1|   54000.0|                  0| Jun-16|    Default| 24.5|    10.0|     16.0|      Individual|                 0.0|      0.0|        NC|
| 13|   5000.0|     5000.0|         5000.0| 36 months|  15.59%|     174.78|    C|         3|             1|   59000.0|                  0| Jun-16|Low Default| 3.82|    14.0|     22.0|      Individual|                 2.0|      0.0|        IL|
| 14|   5000.0|     5000.0|         5000.0| 36 months|  16.99%|     178.24|    D|         3|             0|   98000.0|                  1| Jun-16|Low Default| 13.9|     7.0|     11.0|      Individual|                 0.0|      0.0|        CA|
| 15|  19775.0|    19775.0|        19775.0| 60 months|  16.99%|     491.36|    D|         1|             1|   43000.0|                  1| Jun-16|Low Default|13.27|     5.0|      7.0|      Individual|                 0.0|      0.0|        FL|
| 16|  20000.0|    20000.0|        20000.0| 60 months|  15.59%|     482.02|    C|         1|             1|   98000.0|                  0| Jun-16|  WatchList| 9.01|    13.0|     26.0|      Individual|                 0.0|      0.0|        TX|
| 17|  10000.0|    10000.0|        10000.0| 36 months|  17.99%|     361.48|    D|         0|             1|   41556.0|                  0| Jun-16|Low Default|32.57|    14.0|     35.0|      Individual|                 1.0|      0.0|        NM|
| 18|  21000.0|    21000.0|        21000.0| 36 months|  16.29%|     741.31|    D|         2|             0|  120000.0|                  0| Jun-16|Low Default|17.26|    26.0|     45.0|      Individual|                 0.0|      0.0|        OH|
+---+---------+-----------+---------------+----------+--------+-----------+-----+----------+--------------+----------+-------------------+-------+-----------+-----+--------+---------+----------------+--------------------+---------+----------+
only showing top 20 rows

In [ ]:
df_features=df_features.na.drop()
df_features.show()

+---+---------+-----------+---------------+----------+--------+-----------+-----+----------+--------------+----------+-------------------+-------+-----------+-----+--------+---------+----------------+--------------------+---------+----------+
| id|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|emp_length|home_ownership|annual_inc|verification_status|issue_d|loan_status|  dti|open_acc|total_acc|application_type|pub_rec_bankruptcies|tax_liens|addr_state|
+---+---------+-----------+---------------+----------+--------+-----------+-----+----------+--------------+----------+-------------------+-------+-----------+-----+--------+---------+----------------+--------------------+---------+----------+
|  0|  10000.0|    10000.0|        10000.0| 36 months|   6.99%|     308.73|    A|         1|             1|  135000.0|                  0| Jun-16|Low Default| 7.61|     7.0|     13.0|      Individual|                 0.0|      0.0|        NY|
|  1|   9600.0|     9600.0|         9600.0| 36 months|  15.59%|     335.57|    C|         2|             1|   50000.0|                  0| Jun-16|Low Default|24.03|    11.0|     23.0|      Individual|                 4.0|      0.0|        OH|
|  2|   3600.0|     3600.0|         3600.0| 36 months|  13.99%|     123.03|    C|         3|             0|   35000.0|                  0| Jun-16|Low Default|25.38|    13.0|     29.0|      Individual|                 0.0|      0.0|        MO|
|  3|  10000.0|    10000.0|        10000.0| 60 months|  13.49%|     230.05|    C|         1|             1|   32000.0|                  1| Jun-16|Low Default|13.05|     5.0|     10.0|      Individual|                 0.0|      0.0|        OH|
|  4|   4900.0|     4900.0|         4900.0| 36 months|  10.99%|      160.4|    B|         0|             0|  120000.0|                  0| Jun-16|Low Default| 6.07|     5.0|      8.0|      Individual|                 0.0|      0.0|        TX|
|  5|   9000.0|     9000.0|         9000.0| 36 months|  13.99%|     307.56|    C|         3|             0|  125000.0|                  1| Jun-16|    Default|30.21|    13.0|     32.0|      Individual|                 0.0|      0.0|        OH|
|  6|   9000.0|     9000.0|         9000.0| 36 months|  10.49%|     292.48|    B|         2|             1|   52500.0|                  0| Jun-16|Low Default|14.38|     4.0|      6.0|      Individual|                 0.0|      0.0|        NJ|
|  7|  18000.0|    18000.0|        18000.0| 60 months|  13.49%|     414.09|    C|         3|             0|   70000.0|                  1| Jun-16|    Default|25.51|     6.0|     12.0|      Individual|                 0.0|      0.0|        VA|
|  8|   9800.0|     9800.0|         9800.0| 36 months|  14.49%|     337.28|    C|         3|             0|   48000.0|                  0| Jun-16|    Default|19.83|    10.0|     16.0|      Individual|                 0.0|      1.0|        OH|
|  9|   3000.0|     3000.0|         3000.0| 36 months|  15.59%|     104.87|    C|         3|             1|   42000.0|                  0| Jun-16|Low Default| 8.34|     5.0|     16.0|      Individual|                 1.0|      0.0|        CA|
| 10|   7500.0|     7500.0|         7500.0| 36 months|  10.99%|     245.51|    B|         1|             1|   50000.0|                  0| Jun-16|Low Default| 22.2|    22.0|     63.0|      Individual|                 1.0|      1.0|        CA|
| 11|   2000.0|     2000.0|         2000.0| 36 months|  16.99%|       71.3|    D|         0|            2 |  153000.0|                  0| Jun-16|Low Default| 2.06|     6.0|     35.0|      Individual|                 0.0|      0.0|        WA|
| 12|   5000.0|     5000.0|         5000.0| 36 months|  22.39%|     191.97|    E|         2|             1|   54000.0|                  0| Jun-16|    Default| 24.5|    10.0|     16.0|      Individual|                 0.0|      0.0|        NC|
| 13|   5000.0|     5000.0|         5000.0| 36 months|  15.59%|     174.78|    C|         3|             1|   59000.0|                  0| Jun-16|Low Default| 3.82|    14.0|     22.0|      Individual|                 2.0|      0.0|        IL|
| 14|   5000.0|     5000.0|         5000.0| 36 months|  16.99%|     178.24|    D|         3|             0|   98000.0|                  1| Jun-16|Low Default| 13.9|     7.0|     11.0|      Individual|                 0.0|      0.0|        CA|
| 15|  19775.0|    19775.0|        19775.0| 60 months|  16.99%|     491.36|    D|         1|             1|   43000.0|                  1| Jun-16|Low Default|13.27|     5.0|      7.0|      Individual|                 0.0|      0.0|        FL|
| 16|  20000.0|    20000.0|        20000.0| 60 months|  15.59%|     482.02|    C|         1|             1|   98000.0|                  0| Jun-16|  WatchList| 9.01|    13.0|     26.0|      Individual|                 0.0|      0.0|        TX|
| 17|  10000.0|    10000.0|        10000.0| 36 months|  17.99%|     361.48|    D|         0|             1|   41556.0|                  0| Jun-16|Low Default|32.57|    14.0|     35.0|      Individual|                 1.0|      0.0|        NM|
| 18|  21000.0|    21000.0|        21000.0| 36 months|  16.29%|     741.31|    D|         2|             0|  120000.0|                  0| Jun-16|Low Default|17.26|    26.0|     45.0|      Individual|                 0.0|      0.0|        OH|
| 19|  32000.0|    32000.0|        32000.0| 36 months|  13.99%|    1093.53|    C|         3|             0|  110000.0|                  0| Jun-16|Low Default| 17.3|     9.0|     15.0|      Individual|                 0.0|      0.0|        MA|
+---+---------+-----------+---------------+----------+--------+-----------+-----+----------+--------------+----------+-------------------+-------+-----------+-----+--------+---------+----------------+--------------------+---------+----------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
vecAssembler=VectorAssembler(inputCols=features, outputCol="features")

df_kmeans=vecAssembler.transform(df_features).select('id','features')

df_kmeans.show()

+---+--------------------+
| id|            features|
+---+--------------------+
|  0|[135000.0,7.61000...|
|  1|[50000.0,24.03000...|
|  2|[35000.0,25.37999...|
|  3|[32000.0,13.05000...|
|  4|[120000.0,6.07000...|
|  5|[125000.0,30.2099...|
|  6|[52500.0,14.38000...|
|  7|[70000.0,25.51000...|
|  8|[48000.0,19.82999...|
|  9|[42000.0,8.340000...|
| 10|[50000.0,22.20000...|
| 11|[153000.0,2.05999...|
| 12|      [54000.0,24.5]|
| 13|[59000.0,3.819999...|
| 14|[98000.0,13.89999...|
| 15|[43000.0,13.27000...|
| 16|[98000.0,9.010000...|
| 17|[41556.0,32.56999...|
| 18|[120000.0,17.2600...|
| 19|[110000.0,17.2999...|
+---+--------------------+
only showing top 20 rows

In [ ]:
k=3
kmeans=KMeans().setK(3).setSeed(4)

model=kmeans.fit(df_kmeans.select('features'))

In [ ]:
import pandas as pd

In [ ]:
df_class=pd.read_csv('/content/Loan_df_transformed.csv',sep=',')

In [ ]:
c=['annual_inc','dti']

In [ ]:
df_class=df_class[c]

In [ ]:
df_class.head

<bound method NDFrame.head of          annual_inc    dti
0          135000.0   7.61
1           50000.0  24.03
2           35000.0  25.38
3           32000.0  13.05
4          120000.0   6.07
...             ...    ...
1731376     78000.0  11.42
1731377         NaN    NaN
1731378         NaN    NaN
1731379         NaN    NaN
1731380         NaN    NaN

[1731381 rows x 2 columns]>

In [ ]:
transformed=model.transform(df_kmeans)
transformed.show()

+---+--------------------+----------+
| id|            features|prediction|
+---+--------------------+----------+
|  0|[135000.0,7.61000...|         0|
|  1|[50000.0,24.03000...|         0|
|  2|[35000.0,25.37999...|         0|
|  3|[32000.0,13.05000...|         0|
|  4|[120000.0,6.07000...|         0|
|  5|[125000.0,30.2099...|         0|
|  6|[52500.0,14.38000...|         0|
|  7|[70000.0,25.51000...|         0|
|  8|[48000.0,19.82999...|         0|
|  9|[42000.0,8.340000...|         0|
| 10|[50000.0,22.20000...|         0|
| 11|[153000.0,2.05999...|         2|
| 12|      [54000.0,24.5]|         0|
| 13|[59000.0,3.819999...|         0|
| 14|[98000.0,13.89999...|         0|
| 15|[43000.0,13.27000...|         0|
| 16|[98000.0,9.010000...|         0|
| 17|[41556.0,32.56999...|         0|
| 18|[120000.0,17.2600...|         0|
| 19|[110000.0,17.2999...|         0|
+---+--------------------+----------+
only showing top 20 rows

In [ ]:
pred=transformed.join(df_class,'id')

pred.show()

In [ ]:
df_pred=pred.toPandas().set_index('id')

col_pred=['prediction','annual_inc','dti']

df_pred=df_pred[col_pred]
df_pred.head()

In [ ]:
plotxy=plt.figure(figsize=(12,10))
plotxy.scatter(df_pred.annual_inc, df_pred.dti, c=df_pred.prediction)
plotxy.set_xlabel('annual_inc')
plotxy.set_ylabel('dti')
plt.show()

In [ ]:
!pip install --upgrade pixiedust

Requirement already up-to-date: pixiedust in /usr/local/lib/python3.6/dist-packages (1.1.18)
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.6/dist-packages (from pixiedust) (2.23.0)
Requirement already satisfied, skipping upgrade: astunparse in /usr/local/lib/python3.6/dist-packages (from pixiedust) (1.6.3)
Requirement already satisfied, skipping upgrade: geojson in /usr/local/lib/python3.6/dist-packages (from pixiedust) (2.5.0)
Requirement already satisfied, skipping upgrade: markdown in /usr/local/lib/python3.6/dist-packages (from pixiedust) (3.3.3)
Requirement already satisfied, skipping upgrade: mpld3 in /usr/local/lib/python3.6/dist-packages (from pixiedust) (0.5.1)
Requirement already satisfied, skipping upgrade: lxml in /usr/local/lib/python3.6/dist-packages (from pixiedust) (4.2.6)
Requirement already satisfied, skipping upgrade: colour in /usr/local/lib/python3.6/dist-packages (from pixiedust) (0.1.5)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->pixiedust) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->pixiedust) (2.10)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->pixiedust) (2020.11.8)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->pixiedust) (1.24.3)
Requirement already satisfied, skipping upgrade: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from astunparse->pixiedust) (0.35.1)
Requirement already satisfied, skipping upgrade: six<2.0,>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from astunparse->pixiedust) (1.15.0)
Requirement already satisfied, skipping upgrade: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from markdown->pixiedust) (2.0.0)
Requirement already satisfied, skipping upgrade: jinja2 in /usr/local/lib/python3.6/dist-packages (from mpld3->pixiedust) (2.11.2)
Requirement already satisfied, skipping upgrade: matplotlib in /usr/local/lib/python3.6/dist-packages (from mpld3->pixiedust) (3.2.2)
Requirement already satisfied, skipping upgrade: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown->pixiedust) (3.4.0)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->mpld3->pixiedust) (1.1.1)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3->pixiedust) (2.4.7)
Requirement already satisfied, skipping upgrade: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3->pixiedust) (1.18.5)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3->pixiedust) (0.10.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3->pixiedust) (2.8.1)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3->pixiedust) (1.3.1)

In [ ]:
spark_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- loan_amnt: string (nullable = true)
 |-- funded_amnt: string (nullable = true)
 |-- funded_amnt_inv: string (nullable = true)
 |-- term: string (nullable = true)
 |-- int_rate: string (nullable = true)
 |-- installment: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: string (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- issue_d: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- dti: string (nullable = true)
 |-- open_acc: string (nullable = true)
 |-- total_acc: string (nullable = true)
 |-- application_type: string (nullable = true)
 |-- pub_rec_bankruptcies: string (nullable = true)
 |-- tax_liens: string (nullable = true)
 |-- addr_state: string (nullable = true)

In [ ]:
date_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- issue_d: string (nullable = true)

In [ ]:
spark_df.groupby('grade').count().sort(F.desc('count')).show()

+-----+------+
|grade| count|
+-----+------+
|    B|513102|
|    C|480635|
|    A|416920|
|    D|240797|
|    E| 58756|
|    F| 15300|
|    G|  5811|
| null|    60|
+-----+------+

In [ ]:
spark_df.groupby('loan_status').count().sort(F.desc('count')).show()

+-----------+-------+
|loan_status|  count|
+-----------+-------+
|Low Default|1515391|
|    Default| 190026|
|  WatchList|  25964|
+-----------+-------+

In [ ]:
label_binary=F.udf(lambda x: 0 if x=='Default' else (1 if x=='Low Default' else 2), IntegerType())

In [ ]:
grade_binary=F.udf(lambda x: 0 if x=='A' else (1 if x=='B' else (2 if x=='C' else 3)), IntegerType())

In [ ]:
spark_df=spark_df.withColumn('gradeBinary',grade_binary('grade'))

In [ ]:
spark_df.groupby('gradeBinary').count().sort(F.desc('count')).show()

+-----------+------+
|gradeBinary| count|
+-----------+------+
|          1|513102|
|          2|480635|
|          0|416920|
|          3|320724|
+-----------+------+

In [ ]:
from pyspark.ml.regression import LinearRegression

In [ ]:
lr=LinearRegression(featuresCol='featuresRisk',labelCol='LabelBinary',maxIter=10,regParam=0.30,elasticNetParam=0.80)

## 1D&E) Practical UseCases & Application
3 practically usecases of value can be extracted from the data:

1. Customer distribution. (Get a sense geagraphically where to place yourself )
2. Understand the risk of your customers (Distribution of risk bands.)
4. how much profit is gained from the interest paid.


from the data extracted we use haadoop map reduce to extract the value from the data and tableu to visualize.

## Real World Exam Use Case

The Lending Club is concerned by having a large number of defaults and low customers (thus losing business) during the COVID-19 pandemic. 

To address this and ensure that the correct decisions are made. We use the data to extract Q1 2018,2019 and 2020 default rate. For the stakeholders to see if there has not been any spike.

Secondly we extract the customer trends over the 3 Quaters to identify how well business is doing.

To extract the data we use haadoop Map reduce and use tableau to get the necessary visualize for the data.